{% for language in page.languages %}
    {% if language.code == "en" %}
        {% assign en_url_substitution = language.url_substitution %}
    {% else %}
        {% assign fr_url_substitution = language.url_substitution %}
    {% endif %}
{% endfor -%}
<script type="text/javascript">
    var defTop = document.getElementById("def-top");   
    defTop.outerHTML = 
        {%- if settings['WET4 - IsApplication'] == 'true' -%}   
        wet.builder.appTop({
            "appName": [{
                        "text": "{{snippets["WET4 - AppName"]}}",
                        "href": "#"
                    }], 
            //"menuPath": "../ajax/appmenu-en.html",  
            "menuLinks":{{snippets["WET4 - menuLinks"]}}, 
            {%- if user.id -%}
                "appSettings": [{"href": "{{sitemarkers['Profile'].url}}"}],
                "signOut": [{"href": "{{website.sign_out_url_substitution}}"}],
            {%- else -%}
                "signIn": [{"href": "{{website.sign_in_url_substitution}}"}],
            {%- endif -%}  
        {%- else -%}  
        wet.builder.top({  
            "topSecMenu":false,
            "siteMenu":true,
        {%- endif -%}                        
        {%- if website.selected_language.code == "en" -%}
            "lngLinks": [{"href":"/{{fr_url_substitution}}","lang":"fr","text":"Français"}],
        {%- else -%}
            "lngLinks": [{"href":"/{{en_url_substitution}}","lang":"en","text":"English"}],
        {%- endif -%}
            "customSearch": [{
                "action" : "https://www.canada.ca/{{ website.selected_language.code }}/sr/srb.html", 
                "placeholder" : "Canada.ca",
                "id" : "wb-srch-q",
                "name" : "q",
                "method" : "get",
                "hiddenInput" : [{
                    "name" : "cdn",
                    "value" : "canada"
                }] 
            }],       
            "breadcrumbs":{{snippets["WET4 - breadcrumbs"]}},
            "cdnEnv": "prod"
    });  
</script>
    {% block title %}        
        <h1 id="wb-cont">
            {% comment %}
            {%if user%}
            <span class="hd-pre">{{user.fullname}}</span>
            {%endif%}
            {% endcomment %}
            {% editable page 'adx_title' type: 'html', liquid: true %}
        </h1>
    {% endblock %}