{% assign primary_nav = weblinks['Primary Navigation'] %}
[      
  {% for link in primary_nav.weblinks %}
    {% assign sublinks = link.weblinks %}
    {% if sublinks.size == 0 %}
      {"text":"{{ link.name }}", "href":"{{ link.url }}"},
    {% else %}
      {
        "text":"{{ link.name }}", "href":"{{ link.url }}",
        "subLinks":[
          {
            "subhref": "{{ link.url }}",
            "subtext": "{{ link.name | default:link.title }}"
          },
          {% for sublink in sublinks %}
            {
              "subhref": "{{ sublink.url }}",
              "subtext": "{{ sublink.name | default:sublink.title }}"
            },
          {% endfor %}
        ]
      },
    {% endif %}
  {% endfor %}
]
       